.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main__random_text_container {
    height: 50%;
    width: 50%;
    border: 1px solid black;
    position: absolute;
    font-size: 60px;
    word-wrap: break-word;
    text-wrap: normal;
    overflow-y: scroll;
}

.main__textarea_hidden {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.main__users_input_container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 60px;
}